@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Pacifico", cursive !important;

  /* font-family: 'PT Sans', sans-serif; */
}

body {
  margin: 0;
  font-family: "Pacifico", cursive !important;
}

.container {
  /* background: red; */
  /* display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "chooseFile sidebar"
    "slider sidebar"; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: #dadada;
  /* background: red; */
}

.gradientButton {
  background: linear-gradient(
    94.75deg,
    rgb(5, 157, 255) 0%,
    rgb(101, 73, 213) 43.66%,
    rgb(227, 63, 161) 64.23%,
    rgb(246, 79, 86) 80.09%,
    rgb(251, 83, 67) 83.76%,
    rgb(253, 123, 66) 100%
  );

  /* background: -webkit-linear-gradient(14deg, rgba(167,200,242,1) 23%, rgba(242,80,80,1) 100%); */
}

.gradientButtonUpload {
  background: linear-gradient(
    94.75deg,
    rgb(106, 155, 26) 0%,
    rgb(173, 255, 47) 43.66%,
    rgb(227, 205, 40) 64.23%,
    rgb(248, 93, 21) 80.09%,
    rgb(240, 30, 58) 100%
  );

  /* background: -webkit-linear-gradient(14deg, rgba(167,200,242,1) 23%, rgba(242,80,80,1) 100%); */
}

.headerName {
  font-family: "Pacifico", cursive;
  /* background: -webkit-linear-gradient(14deg, rgba(167,200,242,1) 23%, rgba(242,80,80,1) 100%); */
  background: linear-gradient(
    94.75deg,
    rgb(5, 157, 255) 0%,
    rgb(101, 73, 213) 43.66%,
    rgb(227, 63, 161) 64.23%,
    rgb(246, 79, 86) 80.09%,
    rgb(251, 83, 67) 83.76%,
    rgb(253, 123, 66) 100%
  );

  font-size: 2em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.imageAndScalingContainer {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
}

.view {
  display: flex;
  align-content: center;
  width: 100%;
  height: 100%;

  overflow: scroll;
  overflow-x: scroll;
}

.mainImage {
  background-color: #dadada;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsContainer {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* overflow-x: scroll; */
  background: white;
}

/* sidebar */
.sidebar {
  background-color: hsl(265, 100%, 86%);
  border-left: 1px solid hsl(265, 100%, 56%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.sidebarItem {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsl(265, 100%, 86%);
  padding: 1rem;
  position: relative;
  transition: background-color 275ms;
  font-size: 1.25em;
}

.sidebarItem:hover,
.sidebarItem:focus {
  background-color: hsl(265, 100%, 76%);
}

.sidebarItem.active {
  background-color: hsl(265, 100%, 66%);
}

.sidebarItem::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: hsl(265, 100%, 46%);
}

.sidebarItem:last-child::after {
  display: none;
}

.sliderContainer {
  grid-area: slider;

  padding: 1rem;
  background: white;
}

.slider {
  width: 100%;
  cursor: pointer;
}

/* slider(range) */
input[type="range"].magic {
  width: 100%;
  margin: 4.15px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"].magic:focus {
  outline: none;
}
input[type="range"].magic::-webkit-slider-runnable-track {
  background: #ff91d8;
  border: 2.3px solid rgba(219, 115, 143, 0.6);
  border-radius: 23.2px;
  width: 100%;
  height: 12.7px;
  cursor: pointer;
}
input[type="range"].magic::-webkit-slider-thumb {
  margin-top: -6.45px;
  width: 50px;
  height: 21px;
  background: #ffff7d;
  border: 5px solid #ffcdff;
  border-radius: 12px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"].magic:focus::-webkit-slider-runnable-track {
  background: #ffa5df;
}
input[type="range"].magic::-moz-range-track {
  background: #ff91d8;
  border: 2.3px solid rgba(219, 115, 143, 0.6);
  border-radius: 23.2px;
  width: 100%;
  height: 12.7px;
  cursor: pointer;
}
input[type="range"].magic::-moz-range-thumb {
  width: 50px;
  height: 21px;
  background: #ffff7d;
  border: 5px solid #ffcdff;
  border-radius: 12px;
  cursor: pointer;
}
input[type="range"].magic::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 8.25px 0;
  color: transparent;
  width: 100%;
  height: 12.7px;
  cursor: pointer;
}
input[type="range"].magic::-ms-fill-lower {
  background: #ff7dd1;
  border: 2.3px solid rgba(219, 115, 143, 0.6);
  border-radius: 46.4px;
}
input[type="range"].magic::-ms-fill-upper {
  background: #ff91d8;
  border: 2.3px solid rgba(219, 115, 143, 0.6);
  border-radius: 46.4px;
}
input[type="range"].magic::-ms-thumb {
  width: 50px;
  height: 21px;
  background: #ffff7d;
  border: 5px solid #ffcdff;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"].magic:focus::-ms-fill-lower {
  background: #ff91d8;
}
input[type="range"].magic:focus::-ms-fill-upper {
  background: #ffa5df;
}

@supports (-ms-ime-align: auto) {
  input[type="range"].magic {
    margin: 0;
  }
}
